﻿@using Finanzas.Identity.Models
@model Binding.Login

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Titulo</title>
    @Styles.Render("~/Content/css/bootstrap.min.css")
    @Styles.Render("~/Content/font-awesome/css/font-awesome.css")
    @Styles.Render("~/Content/css/plugins/iCheck/custom.css")
    @Styles.Render("~/Content/css/animate.css")

    @Styles.Render("~/Content/css/style.css")
    @Styles.Render("~/Content/css/plugins/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css")
</head>
<body class="gray-bg">
    <div class="loginColumns animated fadeInDown">
        <div class="row">
            <div class="col-md-6">
                <h2 class="font-bold">Bienvenido a Ahorro vista</h2>
                <p>
                    Preparado para ayudarte a manejar tus finanzas de forma más amigable.
                </p>
                <p>
                    Te permitimos hacer simulaciones en el tiempo para planear tus finanzas a futuro.
                </p>
                <p>
                    Flexibilidad máxima, te permite cambiar la tasa de interés a la que tu dinero está expuesto.
                </p>
            </div>
            <div class="col-md-6">
                <div class="ibox-content">
                    @*@using (Html.BeginForm("Login", "Cuenta", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                        {
                                    @Html.AntiForgeryToken()
                                    <h4>Use a local account to log in.</h4>
                                    <hr />
                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                                        <div class="col-md-10">
                                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                                            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                                        <div class="col-md-10">
                                            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                                            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-offset-2 col-md-10">
                                            <div class="checkbox">
                                                @Html.CheckBoxFor(m => m.RememberMe)
                                                @Html.LabelFor(m => m.RememberMe)
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-offset-2 col-md-10">
                                            <input type="submit" value="Log in" class="btn btn-default" />
                                        </div>
                                    </div>
                                    <p>
                                        @Html.ActionLink("Register as a new user", "Register")
                                    </p>
                                    @* Enable this once you have account confirmation enabled for password reset functionality
                                        <p>
                                            @Html.ActionLink("Forgot your password?", "ForgotPassword")
                                        </p>*@
                    @*}*@

                    @using (Html.BeginForm("Login", "Cuenta", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "m-t", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "Usuario" })
                            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group">
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Contraseña" })
                            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                        </div>
                        <div>
                            <label style="font-weight: 500">
                                @Html.CheckBoxFor(m => m.RememberMe, new { @class = "i-checks" })
                                @Html.DisplayNameFor(m => m.RememberMe)
                            </label>
                        </div>
                        <button type="submit" class="btn btn-primary block full-width m-b m-t">Login</button>
                        <!--<a href="#">
                            <small>Forgot password?</small>
                        </a>-->
                        <p class="text-muted text-center">
                            <small>¿Aún no tienes una cuenta?</small>
                        </p>
                        <a class="btn btn-sm btn-white btn-block" href="@Url.Action("Register","Cuenta")">Crear una cuenta</a>
                    }
                    <p class="m-t">
                        <small>Inspinia framework &copy; 2014</small>
                    </p>
                </div>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-md-6">
                Copyright Example Company
            </div>
            <div class="col-md-6 text-right">
                <small>© 2014-2015</small>
            </div>
        </div>
    </div>
    @Scripts.Render("~/Content/js/jquery-2.1.1.js")
    @Scripts.Render("~/Content/js/bootstrap.min.js")}    @Scripts.Render("~/Content/js/bootstrap.min.js")
    @Scripts.Render("~/Content/js/plugins/iCheck/icheck.min.js")
    <script>
        $(document).ready(function () {
            $('.i-checks').iCheck({
                checkboxClass: 'icheckbox_square-green',
                radioClass: 'iradio_square-green',
            });
        });
    </script>
</body>
</html>
