﻿@using Finanzas.Identity.Models
@model Binding.Register

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>INSPINIA | Register</title>

    @Styles.Render("~/Content/css/bootstrap.min.css")
    @Styles.Render("~/Content/font-awesome/css/font-awesome.css")
    @Styles.Render("~/Content/css/plugins/iCheck/custom.css")
    @Styles.Render("~/Content/css/animate.css")
    @Styles.Render("~/Content/css/style.css")

</head>
<body class="gray-bg">
    <div class="middle-box text-center loginscreen   animated fadeInDown">
        <div>
            <div>
                <h1 class="logo-name">AV</h1>
            </div>
            <h3>Registrarme en Ahorro Vista</h3>
            <p>Crea una cuenta para empezar a utilizar el sistema.</p>
            @using (Html.BeginForm("Register", "Cuenta", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "m-t", role = "form" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.TextBoxFor(m => m.Nombres, new { @class = "form-control", placeholder = "Nombres" })
                    @Html.ValidationMessageFor(m => m.Nombres, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    @Html.TextBoxFor(m => m.Apellidos, new { @class = "form-control", placeholder = "Apellidos" })
                    @Html.ValidationMessageFor(m => m.Apellidos, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "Email" })
                    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Contraseña" })
                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", placeholder = "Confirma Contraseña" })
                </div>
                <div class="form-group">
                    <div class="checkbox i-checks"><label> <input type="checkbox"><i></i> <small>Al crear una cuenta accede a los términos y condiciones (20)</small> </label></div>
                </div>
                <button type="submit" class="btn btn-primary block full-width m-b">Regístrame</button>
                <p class="text-muted text-center"><small>¿Ya tenias una cuenta?</small></p>
                <a class="btn btn-sm btn-white btn-block" href="login.html">Ingresar</a>
            }
            <p class="m-t"> <small>Inspinia framework  &copy; 2014</small> </p>
        </div>
    </div>
    @Scripts.Render("~/Content/js/jquery-2.1.1.js")
    @Scripts.Render("~/Content/js/bootstrap.min.js")
    @Scripts.Render("~/Content/js/plugins/iCheck/icheck.min.js")
    <script>
        $(document).ready(function () {
            $('.i-checks').iCheck({
                checkboxClass: 'icheckbox_square-green',
                radioClass: 'iradio_square-green',
            });
        });
    </script>
</body>
</html>
