﻿@using Finanzas.Models.Binding
@model Cuenta
@{
    ViewBag.Title = "Crear Simulacion";
}

<h2>Crear Simulación</h2>

<div class="row">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <!--<div class="ibox-title">
                <h5>Crear Cuenta</h5>
                <div class="ibox-tools">
                    <a class="collapse-link">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                    <a class="close-link">
                        <i class="fa fa-times"></i>
                    </a>
                </div>
            </div>-->
            <div class="ibox-content">
                @using (Html.BeginForm("CrearSimulacion", "Simulacion", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {

                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div>
                        <p>
                            &nbsp;
                        </p>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.FechaInicio, new { @class = "col-sm-2 control-label" })
                        <div class="col-sm-10">
                            @Html.TextBoxFor(m => m.FechaInicio, new { @class = "form-control", @type = "date" })
                            @Html.ValidationMessageFor(m => m.FechaInicio, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(m => m.Monto, new { @class = "col-sm-2 control-label" })
                        <div class="col-sm-10">
                            @Html.TextBoxFor(m => m.Monto, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Monto, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.TEA, new { @class = "col-sm-2 control-label" })
                        <div class="col-sm-10">
                            <div class="input-group m-b">
                                @Html.TextBoxFor(m => m.TEA, new { @class = "form-control" })
                                <span class="input-group-addon">%</span>
                            </div>
                            @Html.ValidationMessageFor(m => m.TEA, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Descripcion, new { @class = "col-sm-2 control-label" })
                        <div class="col-sm-10">
                            @Html.TextAreaFor(m => m.Descripcion, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Descripcion, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-2 col-sm-offset-10">
                            <button class="btn btn-block btn-primary" type="submit">Crear Cuenta</button>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

