﻿@using Finanzas.Models.View
@model Cuenta
@{
    ViewBag.Title = "Simulacion";
}
<div class="col-sm-12">

    <h2 class="col-sm-3">Cuenta de Ahorro</h2>

    <a class="btn btn-info col-sm-offset-4 col-sm-2" href="@Url.Action("CambiarTea","Simulacion",new { Id = Model.id})">Cambiar Tea</a>
    <a class="btn btn-info col-sm-offset-1 col-sm-2" href="@Url.Action("CrearMovimiento","Simulacion",new { Id = Model.id})">Agregar Movimiento</a>
    <br />
    <br />
    <hr />
    <div>
        <h3>
            Resumen de la cuenta
        </h3>
    </div>

    <table class="table table-responsive table-bordered table-hover table-striped">
        <thead>
            <tr>
                <th>Fecha de Inicio</th>
                <th>Monto de la cuenta</th>
                <th>Monto Actual</th>
                <th>Descripcion</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td> @Model.FechaInicio.ToString("dd/MM/yyyy")    </td>
                <td>    S./ @Model.Monto.ToString("0.00")       </td>
                <td>    S./ @Model.MontoActual.ToString("0.00") </td>
                <td>@Model.Descripcion</td>
            </tr>
        </tbody>
    </table>

    <div>
        <h3>
            Resumen de movimientos
        </h3>
    </div>
    <table class="table table-responsive table-bordered table-hover table-striped">
        <thead>
            <tr>
                <th>Fecha</th>
                <th>Monto del movimiento</th>
                <th>Descripción</th>
            </tr>
        </thead>
        @foreach (var item in Model.Movimientos)
        {
            <tr>
                <td>@item.Fecha.ToString("dd/MM/yyyy")</td>
                <td>@(item.Monto != 0 ? "S/. " + item.Monto.ToString("0.00") : "Cambio de TEA: " + item.TEA.Value * 100 + "%")</td>
                <td>@item.Descripcion</td>
            </tr>
        }
        @if (Model.Movimientos.Count > 0)
        {
            <tr>
                <td>@Model.Movimientos[Model.Movimientos.Count - 1].Fecha.ToString("dd/MM/yyyy")</td>
                <td colspan="2" class="text-center">@("TEA inicial: " + Model.Movimientos[Model.Movimientos.Count - 1].TEA.Value * 100 + "%")</td>
            </tr>
        }
    </table>
</div>

@if (!Model.FechaFin.HasValue)
{
    <br />
    <hr />
    <br />
    <h2 id="calculoSimulacion" class="col-sm-offset-2 ">Calcular Hasta fecha:</h2>
    <br />
    using (Html.BeginForm("CalcularHastaFecha", "Simulacion", FormMethod.Post, new { @class = "form-horizontal", role = "form", id = "CalcularForm" }))
    {
        @Html.AntiForgeryToken()
        <div class="form-group">
            <label class="col-sm-2 control-label">Fecha</label>
            <div class="col-sm-4">
                <input id="fechaCalcularForm" type="date" class="form-control" name="fecha" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-2 col-sm-offset-2">
                <button class="btn btn-block btn-primary" type="submit">Calcular</button>
            </div>
        </div>
    }
}
<hr />
<br />
@section js {
    <script>
        $(document).ready(function () {
            var formFin = $("#CalcularForm");
            var __RequestVerificationToken= $("#CalcularForm>input").val();
            var cuentaId = @Model.id;
            $("#CalcularForm").submit(function (event) {
                event.preventDefault();
                var fecha = $("#fechaCalcularForm").val();

                var request = $.ajax({
                    url: "@Url.Action("CalcularHastaFecha", "Simulacion")",
                    method: "POST",
                    data: {
                        cuentaId : cuentaId ,
                        __RequestVerificationToken : __RequestVerificationToken,
                        fecha : fecha
                    },
                    dataType: "json"
                });

                request.done(function( msg ) {
                    if(msg.status == "Ok")
                    {      var number = parseFloat(msg.information);
                    $( "#calculoSimulacion" ).html( "Cálculo hasta fecha: S/. " +  number.toFixed(2) );
                    }
                    else
                        $( "#calculoSimulacion" ).html( "Error: " + msg.errors );
                });

                request.fail(function( jqXHR, textStatus ) {
                    alert( "Error: " + textStatus );
                });
                //alert(fecha);
                //alert(__RequestVerificationToken);
            })
        });
    </script>

}