﻿@using Finanzas.Models.Binding
@model TEA
@{
    ViewBag.Title = "Cambiar TEA";
}


<h2 class="col-sm-6">Cambiar TEA(Tasa Efectiva Anual)</h2>
<a class="btn btn-link col-sm-2 col-sm-offset-4" href="@Url.Action("Index","Ahorro",new { Id = Model.CuentaId})"><i class="fa fa-arrow-left"></i> Regresar</a>

<div class="row">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-content">
                @using (Html.BeginForm("CambiarTea", "Ahorro", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {

                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div>
                        <p>
                            &nbsp;
                        </p>
                    </div>
                    @Html.HiddenFor(m => m.CuentaId)
                    <div class="form-group">
                        @Html.LabelFor(m => m.Fecha, new { @class = "col-sm-2 control-label" })
                        <div class="col-sm-10">
                            @Html.TextBoxFor(m => m.Fecha, new { @class = "form-control", @type = "date" })
                            @Html.ValidationMessageFor(m => m.Fecha, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.tea, new { @class = "col-sm-2 control-label" })
                        <div class="col-sm-10">
                            <div class="input-group m-b">
                                @Html.TextBoxFor(m => m.tea, new { @class = "form-control" })
                                <span class="input-group-addon">%</span>
                            </div>
                            @Html.ValidationMessageFor(m => m.tea, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Descripcion, new { @class = "col-sm-2 control-label" })
                        <div class="col-sm-10">
                            @Html.TextAreaFor(m => m.Descripcion, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Descripcion, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-2 col-sm-offset-10">
                            <button class="btn btn-block btn-primary" type="submit">Cambiar TEA</button>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>