﻿@using Finanzas.Models.Binding
@model Movimiento
@{
    ViewBag.Title = "Crear Movimiento";
}


<h2 class="col-sm-6">Crear Movimiento</h2>
<a class="btn btn-link col-sm-2 col-sm-offset-4" href="@Url.Action("Index","Ahorro",new { Id = Model.CuentaId})"><i class="fa fa-arrow-left"></i> Regresar</a>

<div class="row">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            </div>
            <div class="ibox-content">
                @using (Html.BeginForm("CrearMovimiento", "Ahorro", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div>
                        <p>
                            &nbsp;
                        </p>
                    </div>
                    <input type="hidden" name="CuentaId" value="@Model.CuentaId" />
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Fecha de Transacción</label>
                        <div class="col-sm-10">
                            <input type="date" class="form-control" name="Fecha" />
                            @Html.ValidationMessageFor(m => m.Fecha, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Tipo de Transacción</label>
                        <div class="col-sm-10">
                            <div class="i-checks"><label> <input type="radio" value="true" name="Retiro"> <i></i> Retiro </label></div>
                            <div class="i-checks"><label> <input type="radio" checked="" value="false" name="Retiro"> <i></i> Depósito </label></div>
                            @Html.ValidationMessageFor(m => m.Retiro, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Monto de la Transacción</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="Monto" />
                            @Html.ValidationMessageFor(m => m.Monto, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Monto Descontado</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="MonDescuento" />
                            @Html.ValidationMessageFor(m => m.MonDescuento, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Descripción</label>
                        <div class="col-sm-10">
                            <textarea class="form-control" name="Descripcion"></textarea>
                            @Html.ValidationMessageFor(m => m.Descripcion, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-3 col-sm-offset-9">
                            <button class="btn btn-block btn-primary" type="submit">Agregar Movimiento</button>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>