﻿@using Finanzas.Models.View
@model Cuentas
@{
    ViewBag.Title = "Mis Cuentas";
}

<h2>Inicio  / Ahorro Vista</h2>

<div class="row">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>En este espacio usted podra ordenar los datos encontrados para ponerlos a su gusto.</h5>
                <div class="ibox-tools">
                    <a class="collapse-link">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                    <a class="close-link">
                        <i class="fa fa-times"></i>
                    </a>
                </div>
            </div>
            <div class="ibox-content">
                <input type="text" class="form-control input-sm m-b-xs" id="filter" placeholder="Search in table">
                <table class="cuentas table table-stripped" data-page-size="10" data-filter=#filter>
                    <thead>
                        <tr>
                            <th>Fecha Inicio</th>
                            <th>Fecha Termino</th>
                            <th>Monto Última Transacción</th>
                            <th>Descripcion</th>
                            <th colspan="2">Opciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Ahorros)
                        {
                            <tr>

                                <td>@item.FechaInicio.ToString("dd - MM - yyyy")</td>
                                <td>
                                    @(item.FechaFin.HasValue ? item.FechaFin.Value.ToString("dd - MM - yyyy") : " - ")
                                </td>
                                <td>@item.Monto</td>
                                <td>@item.Descripcion</td>
                                <td><a href="@Url.Action("Index", "Ahorro", new { id = item.id })">Ver  </a></td>
                                <td>
                                    @using (Html.BeginForm("EliminarCuenta", "Ahorro", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                                    {
                                        @Html.AntiForgeryToken()
                                        <input type="hidden" name="cuentaId" value="@item.id" />
                                        <button class="btn-link" type="submit"><a>Eliminar</a></button>
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="5">
                                <ul class="pagination pull-right"></ul>
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>


@section scripts {
    <script>

        $(document).ready(function () {

            $('.cuentas').footable();

        });
    </script>
}