﻿@using Finanzas.Models.View
@model Cuenta
@{
    ViewBag.Title = "Cuenta";
}
<div class="col-sm-12">

    <h2 class="col-sm-3">Cuenta de Ahorro</h2>
    @if (!Model.FechaFin.HasValue)
    {
        <a class="btn btn-info col-sm-offset-4 col-sm-2" href="@Url.Action("CambiarTea", "Ahorro", new { Id = Model.id })">Cambiar Tea</a>
        <a class="btn btn-info col-sm-offset-1 col-sm-2" href="@Url.Action("CrearMovimiento", "Ahorro", new { Id = Model.id })">Agregar Movimiento</a>
    }
    <br />
    <br />
    <hr />
    <div>
        <h3>
            Resumen de la cuenta
        </h3>
    </div>

    <table class="table table-responsive table-bordered table-hover table-striped">
        <thead>
            <tr>
                <th>Fecha de Inicio</th>
                <th>Fecha de Fin</th>
                <th>Monto de la cuenta</th>
                @if (!Model.FechaFin.HasValue)
                {
                    <th>Monto Actual</th>
                }
                <th>Descripcion</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td> @Model.FechaInicio.ToString("dd/MM/yyyy")    </td>
                <td>     @(Model.FechaFin.HasValue ? Model.FechaFin.Value.ToString("dd/MM/yyyy") : "  -  ")</td>
                <td>    S./ @Model.Monto.ToString("0.00")       </td>
                @if (!Model.FechaFin.HasValue)
                {
                    <td>    S./ @Model.MontoActual.ToString("0.00") </td>
                }
                <td>@Model.Descripcion</td>
            </tr>
        </tbody>
    </table>





    <div>
        <h3>
            Resumen de movimientos
        </h3>
    </div>
    <table class="table table-responsive table-bordered table-hover table-striped">
        <thead>
            <tr>
                <th>Fecha</th>
                <th>Monto del movimiento</th>
                <th>Tasa Efectiva Anual Aplicada</th>
                <th>Descripción</th>
            </tr>
        </thead>
        @foreach (var item in Model.Movimientos)
        {
            <tr>
                <td>@item.Fecha.ToString("dd/MM/yyyy")</td>
                <td>@(item.Monto != 0 ? "S/. " + item.Monto.ToString("0.00") : " - ")</td>
                <td>@(item.TEA * 100)%</td>
                <td>@item.Descripcion</td>
            </tr>
        }
    </table>
</div>
@if (!Model.FechaFin.HasValue)
{
    <div class="col-sm-3 col-sm-offset-9">
        <button id="finalizarBtn" class="btn btn-block btn-info" type="submit">Finalizar Cuenta</button>
    </div>
    using (Html.BeginForm("FinalizarCuenta", "Ahorro", FormMethod.Post, new { style = "display: none;", @class = "form-horizontal", role = "form", id = "finalizarForm" }))
    {
        @Html.AntiForgeryToken()
        <input hidden name="cuentaId" value="@Model.id" />
        <div class="form-group">
            <div class="col-sm-3 col-sm-offset-9">
                <label class="col-sm-2 control-label">Fecha</label>
            </div>
            <div class="col-sm-3 col-sm-offset-9">
                <input type="date" class="form-control" name="fecha" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-2 col-sm-offset-10">
                <button class="btn btn-block btn-primary" type="submit">Finalizar</button>
            </div>
        </div>
    }
}
<hr />

<br />
@section js {
    <script>
        $(document).ready(function () {
            var formFin = $("#finalizarForm");
            $("#finalizarBtn").click(function () {
                formFin.css("display", "");
            });
        });
    </script>

}