﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>

    @Styles.Render("~/Content/css/bootstrap.min.css")
    @Styles.Render("~/Content/font-awesome/css/font-awesome.css")
    <!-- Toastr style -->
    @Styles.Render("~/Content/css/plugins/toastr/toastr.min.css")
    @Styles.Render("~/Content/css/plugins/footable/footable.core.css")
    <!-- Gritter -->
    @Styles.Render("~/Content/js/plugins/gritter/jquery.gritter.css")
    @Styles.Render("~/Content/css/animate.css")
    @Styles.Render("~/Content/css/style.css")
    @RenderSection("css", required: false)
</head>
<body>
    <div id="wrapper">
        <nav class="navbar-default navbar-static-side" role="navigation">
            <div class="sidebar-collapse">
                <ul class="nav metismenu" id="side-menu">
                    <li class="nav-header">
                        <div class="dropdown profile-element">
                            <span>
                            </span>
                            <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                                <span class="clear">
                                    <span class="block m-t-xs">
                                        <strong class="font-bold">@User.Identity.Name</strong>
                                    </span>
                                </span>
                            </a>
                        </div>
                        <div class="logo-element">
                            AV
                        </div>
                    </li>
                    <li class="@(ViewBag.Title == "Mis Cuentas" ? "active" : "")">
                        <a href="@Url.Action("Index", "Ahorro", new {Id ="" })"><i class=" fa fa-dashboard"></i> <span class="nav-label">Mis Cuentas</a>
                    </li>
                    <li class="@(ViewBag.Title == "Crear Cuenta" ? "active" : "")">
                        <a href="@Url.Action("CrearCuenta", "Ahorro")"><i class="fa fa-magic"></i> <span class="nav-label">Nueva Cuenta</a>
                    </li>
                    <li class="@(ViewBag.Title == "Mis Simulaciones" ? "active" : "")">
                        <a href="@Url.Action("Index", "Simulacion", new {Id ="" })"><i class="fa fa-magic"></i> <span class="nav-label">Mis Simulaciones</a>
                    </li>
                    <li class="@(ViewBag.Title == "Crear Simulacion" ? "active" : "")">
                        <a href="@Url.Action("CrearSimulacion", "Simulacion")"><i class="fa fa-magic"></i> <span class="nav-label">Nueva Simulacion</a>
                    </li>
                </ul>
            </div>
        </nav>
        <div id="page-wrapper" class="gray-bg dashbard-1">
            <div class="row border-bottom">
                <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
                    <div class="navbar-header">
                        <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i> </a>
                        <!--<form role="search" class="navbar-form-custom" action="search_results.html">
                            <div class="form-group">
                                <input type="text" placeholder="Search for something..." class="form-control" name="top-search" id="top-search">
                            </div>
                        </form>-->
                    </div>
                    <ul class="nav navbar-top-links navbar-right">
                        <li>
                            <span class="m-r-sm text-muted welcome-message">Ahorros a la Vista</span>
                        </li>
                        <li>
                            @using (Html.BeginForm("LogOff", "Cuenta", FormMethod.Post, new { style = "padding-left: 20px;" }))
                            {
                                @Html.AntiForgeryToken()
                                <i class="fa fa-sign-out"></i>
                                <button type="submit" class="btn btn-link" style="padding: 20px 5px;">Cerrar Sesión</button>
                            }

                        </li>
                    </ul>
                </nav>
            </div>
            <div class="row  border-bottom white-bg dashboard-header">
                @RenderBody()
            </div>
        </div>
    </div>
    <!-- Mainly scripts -->
    @Scripts.Render("~/Content/js/jquery-2.1.1.js")
    @Scripts.Render("~/Content/js/bootstrap.min.js")
    @Scripts.Render("~/Content/js/bootstrap.min.js")
    @Scripts.Render("~/Content/js/plugins/metisMenu/jquery.metisMenu.js")
    @Scripts.Render("~/Content/js/plugins/slimscroll/jquery.slimscroll.min.js")
    @Scripts.Render("~/Content/js/plugins/footable/footable.all.min.js")
    <!-- Flot -->
    @Scripts.Render("~/Content/js/plugins/flot/jquery.flot.js")
    @Scripts.Render("~/Content/js/plugins/flot/jquery.flot.tooltip.min.js")
    @Scripts.Render("~/Content/js/plugins/flot/jquery.flot.spline.js")
    @Scripts.Render("~/Content/js/plugins/flot/jquery.flot.resize.js")
    @Scripts.Render("~/Content/js/plugins/flot/jquery.flot.pie.js")
    <!-- Peity -->
    @Scripts.Render("~/Content/js/plugins/peity/jquery.peity.min.js")
    @Scripts.Render("~/Content/js/demo/peity-demo.js")
    <!-- Custom and plugin javascript -->
    @Scripts.Render("~/Content/js/inspinia.js")
    <script data-pace-options='{ "ajax": false }' src="@Url.Content("~/Content/js/plugins/pace/pace.min.js")"></script>
    <!-- jQuery UI -->
    @Scripts.Render("~/Content/js/plugins/jquery-ui/jquery-ui.min.js")
    <!-- GITTER -->
    @Scripts.Render("~/Content/js/plugins/gritter/jquery.gritter.min.js")
    <!-- Sparkline -->
    @Scripts.Render("~/Content/js/plugins/sparkline/jquery.sparkline.min.js")
    <!-- Sparkline demo data  -->
    @Scripts.Render("~/Content/js/demo/sparkline-demo.js")
    <!-- ChartJS-->
    @Scripts.Render("~/Content/js/plugins/chartJs/Chart.min.js")
    <!-- Toastr -->
    @Scripts.Render("~/Content/js/plugins/toastr/toastr.min.js")

    <!--<script>
        $(document).ready(function () {
            setTimeout(function () {
                toastr.options = {
                    closeButton: true,
                    progressBar: true,
                    showMethod: 'slideDown',
                    positionClass: 'toast-bottom-right',
                    timeOut: 4000
                };
                toastr.success('Bienvenido @User.Identity.Name', 'Ahorros a la Vista App');
            }, 1000);
        });
    </script>-->

    @RenderSection("scripts", required: false)
    @RenderSection("js", required: false)
</body>
</html>
